<!DOCTYPE html>
<html lang="en">
{% include 'include/head.html' %}
<body>
    {% include 'include/header.html' %}
    <div class="container">
        <main class="main-profile">
        <nav class="sidebar">
            <li class="side-nav__item">
                <a onclick="onClickURLSlide('{{url_home}}')" href="#" class="side-nav__link">
                    <span>Home</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a onclick="onClickURLSlide('{{url_projects}}')" href="#" class="side-nav__link">
                    <span>Projects</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a onclick="onClickURLSlide('{{url_wallet}}')" href="#" class="side-nav__link">
                    <span>Wallet</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a onclick="onClickURLSlide('{{url_profile}}')" href="#" class="side-nav__link">
                    <span>Profile</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a onclick="onClickURLSlide('{{url_about_us}}')" href="#" class="side-nav__link">
                    <span>About us</span>
                </a>
            </li>
            <li class="side-nav__item">
                <a onclick="onClickURLSlide('{{url_privacy}}')" href="#" class="side-nav__link">
                    <span>Privacy</span>
                </a>
            </li>
        </nav>
        <div class="col col-dot">
            {% for i in range(0 , 150) %}
                <div class="dot"></div>
            {% endfor %}
        </div>
        <div class="cont">
        {% block content %}{% endblock %}
        </div>
        </main>
    </div>
    <footer class="footer">
        {% for i , item in footer_list %}
            {% if (i%3) == 0 %}
            <div class="footer_sub">
                <h3 class="inner_footer_sub_h3 margin_f_title">{{item}}</h3>
                {% else %}
                <h3 class="inner_footer_sub_h3">{{item}}</h3>
                {% endif %}
                {% if ((i+4)%3) == 0  %}
                    </div>
                {% endif %}
        {% endfor %}
    </footer>
</body>
    <script>
        function onClickURLSlide(url){
            console.log("in func : "+url);
            window.location.replace(url);
        }
        try{
            var omb_price = {{omb_price}} ;
            var usd = document.getElementById("usd_cost");
            var omb = document.getElementById("omb_cost");
            usd.addEventListener('change', (event) => {
                omb.value = (usd.value/omb_price).toFixed(2)
            });
            omb.addEventListener('change', (event) => {
                usd.value = (omb.value*omb_price).toFixed(2)
            });
            var total = {{total}};
            var page = {{page}};
        }catch(err){
            console.log(err);
        }

    </script>
    {% if title == 'Home'%}
    <script type="text/javascript" src="/../static/js/home.js" ></script>
    {% elif title == 'Signup' %}
    <script type="text/javascript" src="/../static/js/signup.js" ></script>
    {% elif title == 'Login' %}
    <script type="text/javascript" src="/../static/js/login.js" ></script>
    {% elif title == 'Profile' %}
    <script type="text/javascript" src="/../static/js/profile.js" ></script>
    {% elif title == 'Project' %}
    <script type="text/javascript" src="/../static/js/project.js" ></script>
    {% endif %}
</html>