{% extends 'base.html' %}
{% block content %}
<main>
    <section class="sec_1">
        <h1 class="des_h1">{{des_list[0]}}</br>{{des_list[1]}}</br>{{des_list[2]}}<span class="yellow">
        {{des_list[3]}}
        </span>
            {{des_list[4]}}
        </h1>
        <img src="{{ image_list[0]}}" class="img_home_head_sec_1" alt="olancer">
    </section>
    <section class="sec_2">
        <h2 class="des_h2">{{des_list[5]}}</br>{{des_list[8]}}</h2>
        <div class="inner_cart">
            <div class="card">
                <p class="p_1 img_card">{{des_list[6]}}</br></br>{{des_list[5]}}</p>
                <img src="{{image_list[1]}}" class="img_card" alt="olancer">
            </div>
            <div class="card">
                <p class="p_1">{{des_list[7]}}</br></br>{{des_list[7]}}</br></br>{{des_list[7]}}</p>
            </div>
            <div class="card">
                <img src="{{ image_list[2]}}" class="card img_card"/>
            </div>
        </div>
    </section>
    <section class="sec_3">
        <a class="prev" onclick="plusDivs(-1)">&#10094;</a>
        <div class="container_comments">
            {% for i in comment_list %}
            <div class="card_comment">
                <img src="{{ i[0] }}" class="img_card_comment">
                <h2 class="h2_card_comment">{{ i[1] }}</h2>
                <p class="p_card_comment">{{ i[2] }}</p>
            </div>
        {% endfor %}
        </div>
        <a class="next" onclick="plusDivs(1)">&#10095;</a>
    </section>
</main>
{% endblock %}