{% extends 'base_loged_in.html' %}
{% block content %}
<section>
    <main>
        <section class="sec_signup">
            <div class="contain">
                <h2 class="color_h">{{wallet_address}}</h2>
                <h3 class="color_h">{{wallet_balance}}</h3>
            </div>
        </section>
        <section class="sec_signup">
            <form action="/api/v1/users/send-omb" method="post" class="form_signup">
                <div class="cotain">
                    <div class="boxing">
                        <div class="box">
                            <h2 class="title_signup">{{title}}</h2>
                            <label for="wallet_address" class="label_signup">{{rec_addr}}</label>
                            <input id="wallet_address"  name="wallet_address" type="text" placeholder="{{enter_addr}}" class="input_signup">
                            <label for="credit" class="label_signup">{{amount}}</label>
                            <input id="credit"  name="credit" type="number" placeholder="{{enter_amount}}" class="input_signup">
                        </div>
                    </div>
                    <input type="submit" name="submit" class="input_signup_submit" value="{{submit}}">
                </div>
                </form>
        </section>
    </main>
</section>
{% endblock %}